@import url(./styles/styles.css);

/* hero */
.hero {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 80px;
  margin: auto;
  margin-top: calc(clamp(29px, 5vw, 69px) * 1.2);
}
.desc {
  color: #d4d4d4;
}
.desc,
.desc-span {
  max-width: 719px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: calc(50px + 1vw);
  line-height: 90.2px;
  letter-spacing: -4px;
}
.desc-span {
  color: #ffee00;
}

.hero-bottom-content {
  margin-top: clamp(10px, 5vw, 29px);
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.hero-bottom-content-right {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 412px;
}
.hero-bottom-content-right p {
  max-width: 307px;
  font-family: "Inter", sans-serif;
  color: #e9e9e9;
  font-weight: 500;
  font-size: 18.75px;
  line-height: 24.2px;
  letter-spacing: -1px;
  vertical-align: middle;
}
.hero-bottom-content-right-img {
  width: 85px;
  height: 63px;
}
.hero-bottom-content-right-img img {
  max-width: 85px;
  height: 63px;
}
.hero-bottom-content-right p span {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15.13px;
  line-height: 20.24px;
  letter-spacing: -0.8px;
  vertical-align: middle;
  padding-top: 8px;
  color: #8c8c8c;
}
.hero-bottom-content-left {
  max-width: 460px;
}
.hero-bottom-content-left p {
  font-family: "ınter", sans-serif;
  font-weight: 500;
  font-size: 23.24px;
  line-height: 28px;
  letter-spacing: -1.25px;
  text-align: center;
  vertical-align: middle;
  color: #e9e9e9;
}
.btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 29px;
}
.see-plans-btn,
.limited-spots-btn {
  display: flex;
  align-items: center;
  gap: 5px;

  padding: 8px 15px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 23.05px;
  line-height: 28px;
  letter-spacing: -1.25px;
  vertical-align: middle;
  border: none;
  border-radius: 15px;
}
.see-plans-btn {
  background-color: #ffee00;
}
.limited-spots-btn {
  background-color: black;
  border: 1px solid#353535;
  color: #e9e9e9;
}
.point {
  width: 10px;
  height: 10px;
  background-color: #ffee00;
  border-radius: 50%;
  margin: 0 5px;
}
@media (max-width: 1000px) {
  .hero-bottom-content {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }
  .hero {
    justify-content: center;
    padding: 0 25px;
  }
  .desc {
    text-align: center;
    margin: auto;
  }
  .hero-bottom-content-right {
    align-items: center;
  }
}
@media (max-width: 500px) {
  .btns {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .hero-bottom-content-right-img {
    display: none;
  }
}

.wrapper {
  max-width: 100vw;
  height: 671px;
  display: flex;
  justify-content: center;
  margin: 0 24px;
  margin-top: clamp(69px, 5vw, 29px);
}

.slider {
  display: flex;
  max-width: 1440px;
  width: 100%;
  background-color: #000000;
  overflow: hidden;
}

.slide {
  width: 100%;
  height: 671px;
  display: flex;
  animation: slideshow 28s linear infinite;
}

.slide img {
  display: flex;
  width: 100%;
  height: fit-content;
  margin: 0 15px;
  border-radius: 15px;
  border: 1px solid #1a1a1a;
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
